/*
 * Code block e.g. 
 * ```js
 *   const a = 1;
 * ```
 */
div[data-rehype-pretty-code-fragment] {
  overflow: hidden;
  @apply my-8 rounded-lg bg-white/5 leading-6 shadow-surface-elevation-low lg:-mx-8;
}

div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  color-scheme: dark;
  @apply py-2 text-sm leading-7;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid; /* make highlighted lines span the width of a horizontally-scrollable code block */
}

/*
 * Code block titles
 */
div[data-rehype-pretty-code-title] {
  @apply mb-0.5 rounded-md bg-rose-100/10 px-3 py-1 font-mono text-xs text-rose-100/70 shadow-sm;
}

/*
 * Lines
 */
div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-l-transparent pl-2 pr-3;
}

div[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply border-l-rose-300/70 bg-rose-200/10;
}

/*
 * Numbered lines
 */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  text-align: right;

  @apply mr-3 w-4 text-white/20;
}

code[data-line-numbers] .line--highlighted::before {
  @apply text-white/70;
}

/*
 * Highlighted word & inline code block
 */
p > code,
li > code,
span[data-rehype-pretty-code-fragment],
div[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-full border border-rose-300/10 bg-rose-300/10 px-1.5 py-[1px] font-mono text-[13px];
}

/*
 * inline code block e.g. 
 * `const a = 1{:js}`
 */
p > code,
li > code,
span[data-rehype-pretty-code-fragment] {
  @apply whitespace-nowrap text-rose-300/90;
}
